/* CSS STYLES */
body {
  color: #666;
  font: normal 10px "Helvetica Neue", Helvetica, sans-serif;
  margin: 2em;
}

#map {
    background: #f3f3f3;
  border:2px solid #000;
  max-width:962px;
  max-height:552px;
}

.country {
  fill: #ccc;
  stroke: #fff;
  stroke-width: .1px;
  stroke-linejoin: round;
  cursor: pointer;
}

.hidden {
  display: none;
}


rect {
  fill: none;
  pointer-events: all;
}
#no-data-message{
    font-size: 20px;

}
/*
 Graph css
*/

.stroke {
    fill: none;
    stroke: #000;
    stroke-width: 3px;
}

.countries {
    stroke: black;
    cursor: pointer;
}

.fill {
    fill: dodgerblue;
}


.legend-title {
    font-weight: bold;
    fill: black;
}




.linetype.active{
    opacity: 1;
}

.linetype{
    opacity: .5;
}

text.linetype{
    opacity: 1;
}

text.linetype.active{
    font-weight: bold;
}


.linetype.longActive{
    opacity: 1;
}

text.linetype.longActive{
    font-weight: bold;
}

.legend-items circle {
    opacity: .5;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    stroke-width: 1;
}

.legend rect {
    fill:white;
    stroke:black;
    opacity:0.8;}


#legend {
    padding: 0.5em 0 0 1.5em;
}

li.key {
    border-top-width: 15px;
    border-top-style: solid;
    font-size: 1.2em;
    width: 6%;
    padding-left: 0;
    padding-right: 0;
}

.missing-country{
    display: inline;
}

.reset-button{
    margin-top: -42px;
    margin-left: 10px;
    padding-bottom: 10px;
}

.text {
    transform: rotate(45deg);
    margin-top: 29px;
    margin-left: -12px;
}

.navbar-default .navbar-nav>li>a{
    font-size: 16px;
    cursor: pointer;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #555;
    background-color: #e7e7e7;
}
@media (min-width: 1350px){
    .container {
        width: 1300px;
    }
}

body{
    min-width: 638px;
}
.btn.btn-default.filters{
    padding: 10px 12px;
}

.daly-year, .daly-type{
    font-size:14px;
}

.typeText{
    font-size: 14px;
    margin-top: 2px;
}


    /*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

.tooltip-title {
    display: block;
    /*margin-bottom: 5px;*/
    font-weight: 600;
    text-align: center;
}

.d3-tip, .d3-tip-linechart {
    line-height: 1;
    padding: 12px;
    background: #fff;
    color: rgba(0, 0, 0, 0.8) ;
    border-radius: 2px;
}

div.tooltip {
    color: #222;
    background: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
    opacity: 0.9;
    /*position: absolute;*/
}

/*
Sankey Graph
*/

.node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .3;
    fill-opacity: .3;
}

.link:hover {
    stroke-opacity: 1;
    fill-opacity: 1;
}



/*
Scatter plot
*/
#scatter-matrix{
    text-align: center;
}
#scatter-matrix .axis, .frame {
    shape-rendering: crispEdges;
}

#scatter-matrix .axis line {
    stroke: #ddd;
}

#scatter-matrix .axis path {
    display: none;
}

#scatter-matrix .frame {
    fill: none;
    stroke: #aaa;
}

#scatter-matrix circle {
    fill-opacity: .7;
}
