/* YOUR CSS STYLES */

/*
bootstrap css

*/
.navbar-header.title{
    width: 100%;
    position: absolute;
}
.navbar-header.title > div{
    text-align: center;
    float: none;
}

.img-thumbnail{
    float: left;
    margin-right: 10px;
}

#choropleth-table-info {
    margin-top: 20px;
}
/*
 Graph css
*/
#choropleth-graph{
    padding-right: 0px;
}
.countries {
    stroke: black;
    cursor: pointer;
}

svg {
    background: white;
}

.tooltip-circle {
    fill: #96AB96;
}

.legend-title {
    font-weight: bold;
    fill: black;
}

.key path {
    display: none;
}

.key line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.choropleth-combobox{
    padding-left: 0px;
}

/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

.tooltip-title {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    text-align: center;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: #fff;
    color: rgba(0, 0, 0, 0.8) ;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    /*color: rgba(0, 0, 0, 0.8);*/
    color:white;
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}
